<div class="row-md-3 mb-2 mb-md-0" style="display: flex; flex-direction: row;">
  <a class="nav-link px-2" routerLink="/" *ngIf="!token">{{"header.home" | translate}}</a>
  <a
    class="nav-link px-2"
    routerLink="/main-route"
    *ngIf="token"
  >
    {{"header.boards" | translate}}
  </a>
</div>

<div class="row-md-3 text-end" style="display: flex; flex-direction: row;">
  <app-select-language></app-select-language>
  <button type="button" class="btn btn-outline-primary me-2" routerLink="/login" *ngIf="!token">{{"header.login" | translate}}</button>
  <button type="button" class="btn btn-primary" routerLink="/sign-up" *ngIf="!token">{{"header.sign-up" | translate}}</button>

  <button
    type="button"
    class="btn btn-primary"
    id="btn-change-profile"
    *ngIf="token"
    (click)="isModalVisible = true;"
  >
    {{"header.change-profile" | translate}}
  </button>
  <button
    type="button"
    class="btn btn-outline-primary"
    routerLink="/main-route"
    *ngIf="token"
    style="margin-left: 10px;"
    (click)="logout()"
  >
    {{"header.logout" | translate}}
  </button>
</div>

<div
  class="modal modal-sheet position-absolute d-block p-4 py-md-5"
  tabindex="-1"
  role="dialog"
  id="modal"
  style="background-color: rgba(0, 0, 0, 0.2); height: 100%;"
  *ngIf="isModalVisible"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">{{"header.change-profile" | translate}} {{thisUserName}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="isModalVisible = false;"></button>
      </div>

      <div class="modal-body p-5 pt-0">
        <form class="mx-1 mx-md-4" [formGroup]="myForm" >
          <div class="d-flex flex-row align-items-center mb-2">
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example1c">{{"sign-up-page.name" | translate}}</label>
              <input
                type="text"
                id="form3Example1c"
                name="name"
                class="form-control"
                formControlName="userName"
                [(ngModel)]="thisUserName"
                (ngModelChange)="thisUserName = $event"
                >
              <div *ngIf="myForm.controls['userName'].invalid && (myForm.controls['userName'].dirty || myForm.controls['userName'].touched)" class="alert alert-danger">
                <div *ngIf="myForm.controls['userName'].errors?.['required']">
                  {{"sign-up-valid.required" | translate}}
                </div>
                <div *ngIf="myForm.controls['userName'].errors?.['minlength']">
                  {{"sign-up-valid.minLength" | translate}}
                </div>
                <div *ngIf="myForm.controls['userName'].errors?.['pattern']">
                  {{"sign-up-valid.only-letters" | translate}}
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-2">
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example3c">{{"sign-up-page.login" | translate}}</label>
              <input
                type="text"
                id="form3Example3c"
                name="login"
                class="form-control"
                formControlName="userLogin"
                [(ngModel)]="thisUserLogin"
                (ngModelChange)="thisUserLogin = $event"
                >
              <div *ngIf="myForm.controls['userLogin'].invalid && (myForm.controls['userLogin'].dirty || myForm.controls['userLogin'].touched)" class="alert alert-danger">
                <div *ngIf="myForm.controls['userLogin'].errors?.['required']">
                  {{"sign-up-valid.required" | translate}}
                </div>
                <div *ngIf="myForm.controls['userLogin'].errors?.['minlength']">
                  {{"sign-up-valid.minLength" | translate}}
                </div>
                <div *ngIf="myForm.controls['userLogin'].errors?.['pattern']">
                  {{"sign-up-valid.allowed-symbols" | translate}}
                </div>
              </div>
            </div>
          </div>

          <div name="password" [formGroup]="password">
            <div class="d-flex flex-row align-items-center mb-2">
              <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="form3Example4c">{{"header.new-password" | translate}}</label>
                <input
                  type="password"
                  id="form3Example4c"
                  name="pass"
                  class="form-control"
                  formControlName="pass"
                  >
                <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
                  <div *ngIf="pass.errors?.['required']">
                    {{"sign-up-valid.required" | translate}}
                  </div>
                  <div *ngIf="pass.errors?.['minlength']">
                    {{"sign-up-valid.minLengthPassword" | translate}}
                  </div>
                  <div *ngIf="pass.errors?.['pattern']">
                    {{"sign-up-valid.password-symbols" | translate}}
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-2">
              <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="form3Example4cd">{{"header.repeat-password" | translate}}</label>
                <input type="password" id="form3Example4cd" name="conf_pass" class="form-control" [ngClass]="confirmPasswordClass" formControlName="conf_pass">
                <div *ngIf="conf_pass.invalid && (conf_pass.dirty || conf_pass.touched)" class="alert alert-danger">
                  <div *ngIf="conf_pass.errors?.['required']">
                    {{"sign-up-valid.required" | translate}}
                  </div>
                  <div *ngIf="conf_pass.errors?.['minlength']">
                    {{"sign-up-valid.minLengthPassword" | translate}}
                  </div>
                  <div *ngIf="conf_pass.errors?.['confirmedValidator']">
                    {{"sign-up-valid.password-confirm" | translate}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="button" class="btn btn-primary btn-lg"
            (click)="saveChangesProfile(); isModalVisible = false;"
            >{{"header.save-changes" | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="errMessage">
  Error {{statusCode}}: {{errMessage}}
</div>
