<section class="p-5 mb-4 mx-4 bg-body border border-dashed rounded-5">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">{{"welcome-page.title" | translate}}</h1>
    <p class="col-md-8 fs-4">{{"welcome-page.text" | translate}}</p>
    <button class="btn btn-primary btn-lg" type="button" routerLink="/login">{{"welcome-page.login" | translate}}</button>
  </div>
</section>

<section class=" mb-4 mx-4 bg-body border border-dashed rounded-5">
  <div class="container-fluid d-flex p-5" style="flex-direction: column; text-align: right;">
    <h1 class="display-5 fw-bold mb-5">{{"welcome-page.developer" | translate}}</h1>
    <div class="d-flex" style="justify-content: flex-end; gap: 40px; flex-wrap: wrap;">
      <div style="overflow: hidden; height: 150px; width: 150px; border-radius: 100%;">
        <img src="../../../assets/img/BsrSsCFSCH8.jpg" alt="">
      </div>
      <div style="max-width: 600px; display: flex; flex-direction: column; justify-content: center; text-align: start;">
        <p class=" fs-4"><strong>{{"footer.name" | translate}}</strong></p>
        <p class=" fs-4">{{"welcome-page.information" | translate}}</p>
      </div>
    </div>
  </div>
</section>
