<div class="pricing-header p-4 pb-0 pt-0 d-flex flex-wrap align-items-center justify-content-center justify-content-md-between" style="gap: 30px;" >
  <h1 class="display-4 fw-normal text-body-emphasis">{{thisBoardTitle}}</h1>
  <button
  type="button"
  class="btn btn-lg btn-primary p-0"
  style="height: 58px; width: 240px;"
  (click)="isModalVisible = true;"
  >{{"board-route.create-column" | translate}}</button>
</div>


<div
  class="p-4 pt-3"
  style="display:flex; flex-direction:row; gap: 34px; overflow-x: scroll;"
  cdkDropList

  [cdkDropListData]="items"
  cdkDropListGroup

  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)"
>
  <ng-container #columnsContainer>
    <app-one-column
      *ngFor="let item of items"
      [data]="item"
      [attr.id]="item._id"
      cdkDrag
    >
    </app-one-column>
  </ng-container>
</div>


<div
  class="modal modal-sheet position-absolute d-block p-4 py-md-5"
  tabindex="-1"
  role="dialog"
  id="modal"
  style="background-color: rgba(0, 0, 0, 0.2); height: 100%;"
  *ngIf="isModalVisible"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">{{"board-route.create-column" | translate}}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="isModalVisible = false;"
          style="margin-left: 0;"></button>
      </div>

      <div class="modal-body p-5 pt-0 d-flex flex-wrap align-items-center justify-content-center">
        <form
          class="col p-4 pt-0 pb-0 d-flex flex-wrap align-items-center justify-content-center"
          style="gap: 10px; width: 240px; margin: 0;"
          [formGroup]="columnNameForm">
        <div class="form-floating w-100">
          <input
            type="text"
            class="form-control"
            id="floatingInput1"
            name="columnName"
            formControlName="columnName"
            placeholder="EnterColumnName"
          >
          <label for="floatingInput">{{"board-route.name-column" | translate}}</label>
          <div *ngIf="columnNameForm.controls['columnName'].invalid && (columnNameForm.controls['columnName'].dirty || columnNameForm.controls['columnName'].touched)" class="alert alert-danger">
            <div *ngIf="columnNameForm.controls['columnName'].errors?.['required']">
              {{"sign-up-valid.required" | translate}}
            </div>
          </div>
        </div>
        <div class="form-floating w-100">
          <input
            type="number"
            class="form-control"
            id="floatingInput2"
            name="columnOrder"
            formControlName="columnOrder"
            placeholder="EnterColumnOrder"
            [ngModel]="columnOrder" (ngModelChange)="columnOrder = $event">
          <label for="floatingInput">{{"board-route.order-column" | translate}}</label>
          <div *ngIf="columnNameForm.controls['columnOrder'].invalid && (columnNameForm.controls['columnOrder'].dirty || columnNameForm.controls['columnOrder'].touched)" class="alert alert-danger">
            <div *ngIf="columnNameForm.controls['columnOrder'].errors?.['required']">
              {{"sign-up-valid.required" | translate}}
            </div>
          </div>
        </div>
        <button
          type="button"
          class="btn btn-lg btn-primary p-3 pt-2 pb-2"
          (click)="isModalVisible = false; createOneColumnComponent()"
          >{{"board-route.create" | translate}}</button>
      </form>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="errMessage">
  Error {{statusCode}}: {{errMessage}}
</div>
