<div class="form-wrapper" style="flex-direction: row; box-sizing: border-box; display: flex; place-content: stretch center; align-items: stretch;">
  <form style="width: 300px; text-align: center;" [formGroup]="loginForm">
    <h1 class="text-center h2 mb-4 mx-1 mx-md-4 mt-4">{{"login-page.title" | translate}}</h1>

    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        name="login"
        formControlName="userLogin"
        placeholder="Login">
      <label for="floatingInput">{{"login-page.login" | translate}}</label>
      <div *ngIf="loginForm.controls['userLogin'].invalid && (loginForm.controls['userLogin'].dirty || loginForm.controls['userLogin'].touched)" class="alert alert-danger">
        <div *ngIf="loginForm.controls['userLogin'].errors?.['required']">
          {{"sign-up-valid.required" | translate}}
        </div>
      </div>
    </div>

    <div class="form-floating" style="margin-bottom: 10px;">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        name="password"
        formControlName="userPassword">
      <label for="floatingPassword">{{"login-page.password" | translate}}</label>
      <div *ngIf="loginForm.controls['userPassword'].invalid && (loginForm.controls['userPassword'].dirty || loginForm.controls['userPassword'].touched)" class="alert alert-danger">
        <div *ngIf="loginForm.controls['userPassword'].errors?.['required']">
          {{"sign-up-valid.required" | translate}}
        </div>
      </div>
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit" (click)="loginUser()">{{"login-page.sign-in" | translate}}</button>

    <div style="margin: 20px; cursor: pointer;">
      <a routerLink="/sign-up">{{"login-page.registration" | translate}}</a>
    </div>

  </form>
</div>

<div class="alert alert-danger" role="alert" *ngIf="errMessage">
  {{"login-page.error" | translate}}
</div>
